<!doctype html>
<html lang="en">
  <head>
    <title>More-Recipe</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/styles.css">
  </head>
  <body class="form-bg">
 
<div class="container">
	<div class="pt-5" style="text-align: center">
		<form action="" class="m-x-auto app-login-form card">
			<h1 class="signin-text"> More-recipe</h1>
			<section class="signin-text">
				<h3>Create an account</h3>
			</section>
			<section class="pb-4 pt-3">
				<input class="form-control" placeholder="Username">
			</section>
			<section class="pb-4">
				<input class="form-control" placeholder="Email">
			</section>
			<section class="pb-4">
				<input class="form-control" placeholder="Password">
			</section>
			<section class="pb-4">
				<input class="form-control" placeholder="Confirm password">
			</section>
			<div>
			  <p>
			  	<small>
			  		By clicking &#39;Create Account&#39;, you are agreeing to our <a href="#" id="text-dec">Policy</a> and
			  		<a href="" id="text-dec">Terms &amp; Conditions</a>
			  	</small>
			  </p>
			</div>
			<div>
				<button class="btn btn-block btn-orange">
					<a href="signin.html" class="signin-btn" id="signn-btn">Create Account</a>
				</button>
			</div>
			<div style="text-align: left">
				<a href="" id="text-dec">Forgotten your password?</a>
			</div>
			<div>
				<hr>
			</div>
			<footer>
				<a href="signin.html" id="text-dec">Sign In</a>
			</footer>
		</form>
	</div>
</div>
 <!-- Optional JavaScript -->
 <!-- jQuery first, then Popper.js, then Bootstrap JS -->
 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>