<!doctype html>
<html lang="en">
  <head>
    <title>More recipe</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/styles.css">
  </head>
  <body>
  <header>
  <nav class="navbar navbar-expand-lg navbar-light bg-green">
  <a class="navbar-link" id="navlink" href="userRecipe.html">More recipe</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="navbar-link" href="userRecipe.html" id="navlink">Recipes</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navlink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          User profile
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="userProfile.html">Profile</a>
          <a class="dropdown-item" href="userAddRecipe.html">My recipe</a>
        </div>
      </li>
       <li class="nav-item">
        <a class="navbar-link" href="userRecipe.html" id="navlink">Signout</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn search-btn my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
</header>
<div class="container top-nav-bar">
	<div class="row pb-3">
		<div class="col-sm-12 profile-bg user-profile">
			<img class="img-fluid rounded-circle" src="../image/11751418_991992300844887_8001418693581686024_n.jpg" alt="">
			<h3>Sannikay</h3>
			<p>recipe added&#58; 20  <span class="vl user-text"></span> <span>email&#58; kensanni@gmail.com </span> <span class="vl user-text">favorite recipe: 20</span> </p>
		</div>
	</div>
	<section class="row">
		<div class="col-sm-12">
			<h3 class="header-bg font">Favorite recipes</h3>
		</div>
	</section>
		<section class="row">
		<div class="col-md-6 col-lg-4 pb-3">
			<img class="img-fluid" src="../image/banner-img-4.jpg" alt="">
      <h1>chinese spicy</h1>
      <i class="fa fa-star rating-cl" aria-hidden="true"></i>
      <i class="fa fa-star rating-cl" aria-hidden="true"></i>
      <i class="fa fa-star rating-cl" aria-hidden="true"></i>
      <i class="fa fa-star rating-cl" aria-hidden="true"></i>
      <i class="fa fa-star-half rating-cl" aria-hidden="true"></i>
      <span>5k</span>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, fugit!</p>
			<button type="button" class="btn btn-success">View recipe</button>
		</div>
		<div class="col-md-6 col-lg-4 pb-3">
			<img class="img-fluid" src="../image/banner-img-1.jpg" alt="">
      <h1>chinese spicy</h1>
      <i class="fa fa-star rating-cl" aria-hidden="true"></i>
      <i class="fa fa-star rating-cl" aria-hidden="true"></i>
      <i class="fa fa-star rating-cl" aria-hidden="true"></i>
      <i class="fa fa-star rating-cl" aria-hidden="true"></i>
      <i class="fa fa-star-half rating-cl" aria-hidden="true"></i>
      <span>7k</span>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, fugit!</p>
			<button type="button" class="btn btn-success">View recipe</button>
		</div>
		<div class="col-md-6 col-lg-4 pb-3">
			<img class="img-fluid" src="../image/banner-img-2.jpg" alt="">
      <h1>chinese spicy</h1>
      <i class="fa fa-star rating-cl" aria-hidden="true"></i>
      <i class="fa fa-star rating-cl" aria-hidden="true"></i>
      <i class="fa fa-star rating-cl" aria-hidden="true"></i>
      <i class="fa fa-star rating-cl" aria-hidden="true"></i>
      <i class="fa fa-star-half rating-cl" aria-hidden="true"></i>
      <span>800</span>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, fugit!</p>
			<button type="button" class="btn btn-success">View recipe</button>
		</div>
		<div class="col-md-6 col-lg-4 pb-3">
			<img class="img-fluid" src="../image/banner-img-4.jpg" alt="">
      <h1>chinese spicy</h1>
      <i class="fa fa-star rating-cl" aria-hidden="true"></i>
      <i class="fa fa-star rating-cl" aria-hidden="true"></i>
      <i class="fa fa-star rating-cl" aria-hidden="true"></i>
      <i class="fa fa-star rating-cl" aria-hidden="true"></i>
      <i class="fa fa-star-half rating-cl" aria-hidden="true"></i>
      <span>3k</span>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, fugit!</p>
			<button type="button" class="btn btn-success">View recipe</button>
		</div>
		<div class="col-md-6 col-lg-4 pb-3">
			<img class="img-fluid" src="../image/banner-img-1.jpg" alt="">
      <h1>chinese spicy</h1>
      <i class="fa fa-star rating-cl" aria-hidden="true"></i>
      <i class="fa fa-star rating-cl" aria-hidden="true"></i>
      <i class="fa fa-star rating-cl" aria-hidden="true"></i>
      <i class="fa fa-star rating-cl" aria-hidden="true"></i>
      <i class="fa fa-star-half rating-cl" aria-hidden="true"></i>
      <span>6k</span>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, fugit!</p>
			<button type="button" class="btn btn-success">View recipe</button>
		</div>
		<div class="col-md-6 col-lg-4 pb-3">
			<img class="img-fluid" src="../image/banner-img-2.jpg" alt="">
      <h1>chinese spicy</h1>
      <i class="fa fa-star rating-cl" aria-hidden="true"></i>
      <i class="fa fa-star rating-cl" aria-hidden="true"></i>
      <i class="fa fa-star rating-cl" aria-hidden="true"></i>
      <i class="fa fa-star rating-cl" aria-hidden="true"></i>
      <i class="fa fa-star-half rating-cl" aria-hidden="true"></i>
      <span>2k</span>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, fugit!</p>
			<button type="button" class="btn btn-success">View recipe</button>
		</div>
	</section>
	<nav aria-label="Page navigation example" class="pt-3">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" id="pagination-color" href="#">1</a></li>
    <li class="page-item"><a class="page-link"  id="pagination-color" href="#">2</a></li>
    <li class="page-item"><a class="page-link" id="pagination-color" href="#">3</a></li>
    <li class="page-item"><a class="page-link" id="pagination-color" href="#">4</a></li>
    <li class="page-item"><a class="page-link" id="pagination-color" href="#">5</a></li>
    <li class="page-item"><a class="page-link" id="pagination-color" href="#">6</a></li>
    <li class="page-item"><a class="page-link" id="pagination-color" href="#">7</a></li>
    <li class="page-item"><a class="page-link" id="pagination-color" href="#">8</a></li>
    <li class="page-item"><a class="page-link" id="pagination-color" href="#">9</a></li>
    <li class="page-item" id="pagination-color">
      <a class="page-link" id="pagination-color" href="#">Next</a>
    </li>
  </ul>
</nav>
</div>
<footer class="footer text-center">
  <strong class="copyright">More-Recipes © 2017, All Rights Reserved, Design &amp; Developed By: Sanni Kehinde</strong>
</footer>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>