.m-x-auto {
    margin-right: auto!important;
    margin-left: auto!important;
}
.app-login-form {
    max-width: 380px;
    margin-top: -25px;
}
.chat-image {
	width: 50px;
}
.form-bg {
	background-color: #BCD99A
}
.card {
    background-color: #fff;
    padding: 30px;
}
.img-size {
	width: 100px;
}
a {
    color: #5CB85C;
	text-decoration: none;
    text-decoration-color: #5CB85C;
}
.text-align {
	text-align: left;
}

.signin-text {
	color: #5CB85C;
}

#pagination-color {
	color: #5CB85C;
}
.p-a-0 {
    padding: 0!important;
}
.bg-green {
	background-color: #5CB85C;
}
.top-nav-bar {
	padding-top: 30px;
}
.br-right {
	border-right: 30px;
 
}
.pd-remove {
	padding-bottom: 0px;
}
.font-stye {
	color: yellow;
}
.rfloat {
	float: right;
}
.footer {
	bottom: 0px;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #5CB85C;
	padding-top: 5px;
	padding-bottom: 5px;
}
.chat-body-text {
	position: relative;
    padding: 10px 15px;
    background-color: rgba(107, 216, 51, 0.65);
    border-radius: 9px;
}
.profile-bg {
	background-color: #f3f3f3;
}
.header-bg {
	padding-top: 5px;
	background-color: #5CB85C;
	color: #fff;
	text-align: center;
}
.header-nav {
	background-color: #5CB85C;
	color: #fff;
}
#header-link {
	text-decoration: none;
	color: #212529;
}
.navbar-link {
	padding-right: 0;
    padding-left: 0;
	display: block;
    padding: .5rem 1rem;
	color: #fff;
	text-decoration: none
}
.search-btn {
	border-color: yellow;
	color: #fff;
	background-color: transparent;
}

.vl {
    border-left: 3px solid black;
    height: 35px;
}

.user-profile {
	padding-top: 10px;
	padding-bottom: 40px;
	text-align: center
}
.user-text {
	padding-left: 10px;
}
#navlink {
	text-decoration: none;
    color: #fff;
}
.black {
	color: black;
}

#text-dec {
    color: #5CB85C;
    text-decoration-color: #5CB85C;
}
.signin-btn {
	text-decoration: none;
	color: #fff;
}
#signn-btn {
	color: #fff;
	text-decoration: none;
	text-decoration-color: #FFF;
}

