.m-x-auto {
    margin-right: auto!important;
    margin-left: auto!important;
}
.app-login-form {
    max-width: 380px;
    margin-top: -25px;
}
.chat-image {
	width: 50px;
}
.form-bg {
	background-color: rgba(233, 151, 10, 0.863);
}

.img-size {
	width: 100px;
}
a {
    color: #723f5f;
	text-decoration: none;
    text-decoration-color: #723f5f;
}
.text-align {
	text-align: left;
}

.signin-text {
	color: #723f5f;
}

#pagination-color {
	color: #723f5f;
}
.p-a-0 {
    padding: 0!important;
}
.bg-green {
	background-color: #723f5f;
}
.top-nav-bar {
	padding-top: 30px;
}
.br-right {
	border-right: 30px;
 
}
.pd-remove {
	padding-bottom: 0px;
}
.font-stye {
	color: yellow;
}
.rfloat {
	float: right;
}
.footer {
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #723f5f;
	padding-top: 5px;
	padding-bottom: 5px;
}
.chat-body-text {
	position: relative;
    padding: 10px 15px;
    background-color: rgba(107, 216, 51, 0.65);
    border-radius: 9px;
}
.profile-bg {
	background-color: #f3f3f3;
}
.header-bg {
	padding-top: 5px;
	background-color: #723f5f;
	color: #fff;
	text-align: center;
}
.header-nav {
	background-color: #723f5f;
	color: #fff;
}
#header-link {
	text-decoration: none;
	color: #212529;
}
.navbar-link {
	padding-right: 0;
    padding-left: 0;
	display: block;
    padding: .5rem 1rem;
	color: #fff;
	text-decoration: none
}
.search-btn {
	border-color: yellow;
	color: #fff;
	background-color: transparent;
}

.vl {
    border-left: 3px solid black;
    height: 35px;
}

.user-profile {
	padding-top: 10px;
	padding-bottom: 40px;
	text-align: center
}
.user-text {
	padding-left: 10px;
}
#navlink {
	text-decoration: none;
    color: #fff;
}
.black {
	color: black;
}

#text-dec {
    color: #723f5f;
    text-decoration-color: #723f5f;
}
.signin-btn {
	text-decoration: none;
	color: #fff;
}
#signn-btn {
	color: #fff;
	text-decoration: none;
	text-decoration-color: #FFF;
}

.font {
	color: #fff;
	font-family: 'Dosis',sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.rating-cl {
	color: #feaa26;
}

.header-text {
	font-size: 30px;
}

.copyright {
	color: #fff;
	text-align: center;
}
.card-tile {
	background-color: #723f5f;
}

a:hover {
	color: #723f5f;
	text-decoration: none;
}
.favorite-btn {
	cursor: pointer;
	color: #fff;
}
.favorite-btn:hover {
	color: rgb(95, 86, 71);
}
.btn-white {
	color: white;
}
.btn-orange {
	background-color: #723f5f;
}
.card-login {
    background-color: #fff;
    padding: 30px;
}

.nav-text {
	font-family: 'Dosis',sans-serif;
    font-size: 22px;
}

.title {
	color: #723f5f;
    font-family: 'Dosis',sans-serif;
    font-size: 29px;
    font-weight: 400;
    letter-spacing: 1px;
}

p {
	color: #515251;
    font-family: 'Bitter',serif;
    font-size: 18px;
    font-weight: 200;
    line-height: 1.46;
}

/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    border-top: none;
}