$main-color: #723f5f;
$white-color: #fff;
$main-font: 'Nunito', 'Dosis',sans-serif;
$header-font: 'Cardo', 'Sirin Stencil', 'Dosis', serif;


body{
  font-family: $main-font;
}
h1, h2, h3, h4, h5, h6{
  font-family: $header-font;
}
.m-x-auto {
  margin-right: auto!important;
  margin-left: auto!important;
}

.app-login-form {
  max-width: 380px;
  margin-top: -25px;
}

.chat-image {
  width: 50px;
}
body {
  background-repeat: no-repeat;
  background-size: cover;
}

.error-message {
  color: red;
  font-size: 12px;
}

.img-size {
  width: 100px;
}

a {
  color: $main-color;
  text-decoration: none;
  text-decoration-color: $main-color;
}
.text-align {
  text-align: left;
}

.signin-text {
  color: $main-color;
}

#pagination-color {
  color: $main-color;
}
.p-a-0 {
  padding: 0!important;
}
.bg-green {
  background-color: $main-color;
}
.top-nav-bar {
  padding-top: 30px;
}
.br-right {
  border-right: 30px;

}
.pd-remove {
  padding-bottom: 0px;
}

.rfloat {
  float: right;
}
.footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  background-color: $main-color;
  padding-top: 5px;
  padding-bottom: 5px;
}

.profile-bg {
  background-color: #f3f3f3;
}

.header-bg {
  padding-top: 5px;
  background-color: $main-color;
  color: $white-color;
  text-align: center;
  border-radius: 3px;
  font-size: 20px;
}

.img-width {
  width: 100%;
}

.header-nav {
  background-color: $main-color;
  color: $white-color;
}

#header-link {
  text-decoration: none;
  color: #212529;
}

.navbar-link {
  padding-right: 0;
  padding-left: 0;
  display: block;
  padding: .5rem 1rem;
  color: $white-color;
  text-decoration: none
}
.search-btn {
  border-color: yellow;
  color: $white-color;
  background-color: transparent;
}

.vl {
  border-left: 3px solid black;
  height: 35px;
}

.user-profile {
  padding-top: 10px;
  padding-bottom: 40px;
  text-align: center
}

.user-text {
  padding-left: 10px;
}

#navlink {
  text-decoration: none;
  color: $white-color;
}

.black {
  color: black;
}

#text-dec {
  color: $main-color;
  text-decoration-color: $main-color;
}
.signin-btn {
  text-decoration: none;
  color: $white-color;
}
#signn-btn {
  color: $white-color;
  text-decoration: none;
  text-decoration-color: $white-color;
}

.font {
  color: $white-color;
  font-family: 'Dosis',sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.rating-cl {
color: #feaa26;
}

.header-text {
font-size: 30px;
}

.copyright {
  color: $white-color;
  text-align: center;
}
.card-tile {
  background-color: $main-color;
}

a:hover {
  color: $main-color;
  text-decoration: none;
}
.favorite-btn {
  cursor: pointer;
  color: $white-color;
}
.favorite-btn:hover {
  color: rgb(194, 196, 81);
}
.btn-white {
  color: white;
}
.btn-orange {
  background-color: $main-color;
  color: $white-color;
}
.card-login {
  background-color: $white-color;
  padding: 30px;
}

.nav-text {
  font-family: $main-font;
  font-size: 22px;
}

.title {
  color: $main-color;
  font-family: $header-font;
  font-size: 29px;
  font-weight: 400;
  letter-spacing: 1px;
}

p {
  color: #515251;
  font-family: $main-font;
  font-size: 18px;
  font-weight: 200;
  line-height: 1.46;
}

.headline {
  margin-top: 30px;
  text-align: left;
  z-index: 2;
}

.heading {
  margin-bottom: 15px;
}

.brief {
  margin-bottom: 30px;
  color: #757575;
}

.btn-create {
  text-decoration: none;
  font-weight: 700;
  min-width: 120px;
  font-size: 1.4rem !important;
  font-weight: 900;
  color: #fff;
  background-color: #723f5f;
  text-align: center;
  letter-spacing: .5px;
  cursor: pointer;
}


.text-inline {
  display: inline-block;
  margin-left: 15px;
  color: #757575;
}

.page-footer {
  background: transparent;
  color: #616161;
  padding-top: 60px;
  .divider {
    background-color: #616161;
  }
  li {
    display: inline-block;
    margin-right: 20px;
    margin-right: 2rem;
  }
  i {
    font-size: 24px;
  }
  .copyright {
    min-height: 50px;
    align-items: center;
    padding: 10px 0px;
    color: black;
  }
}

.divider {
  height: 1px;
  overflow: hidden;
}

.left {
  float: left !important;
}

.img-max {
  max-height: 12.06rem;
  min-height: 12.06rem;
}

.carousel-caption {
  top: 30%
}
.inline-button {
  display: inline-flex;
}

.error-margin {
  margin-top: 11rem;
}

.section-margin {
  padding-top: 5rem;
}

.text-font {
  font-size: 56px;
  color: #fff;
}

.button-lg {
  background-color: #fecf42;
  border-radius: 4px;
  padding: 10px 40px;
  color: #fff;
  border: 2px solid;
}

.button-lg:hover {
  background-color: #723f5f;
}

.bg-color {
  background-color: #723f5f;
  height: 100%;
}

.text-desc {
  color: #fff;
  font-size: 30px;
}

.image-position {
  display: block;
  margin: 0 auto;
}

.img-text {
  color: black;
}
.not-found-container {
  margin: 0 auto !important;
}

.page-item.active .page-link {
  z-index: 2;
  color: #fff;
  background-color: #723f5f;
  border-color: #723f5f;
}

.page-link {
  color: black;
}

.signout {
  cursor: pointer
}

.page-link:hover { cursor: pointer}

.image-tag {
  background-color: red;
  border-radius: 100%;
  width: 3rem;
  height: 3rem;
}

.card-height {
  min-height: 21rem;
  max-height: 21rem;
}

.word-warp {
  max-height: 6rem;
  overflow: hidden;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  height: 5rem;
  line-height: 2rem;
  display: block
}

.small {
  font-size: 68%;
  font-weight: 400;
}

.spinner {
  margin-top: -26rem;
  margin-bottom: -24rem;
}

.hide {
  display: none !important;
}

.review-box {
  max-height: 300px;
  overflow-y: scroll;
}

.favorited {
  color: rgb(194, 196, 81);
}

.search-box {
  width: 300px;
}

.review-btn {
  text-align: center;
  cursor: pointer;  
}
